
.join_us
{
    
    margin-top: 5%;
    background-color: #fff;
    text-align: center;
    display: block;
    height: 850px;
    width: 325px;
    align-content: center;
    text-align: center;
    color: #8D8D8D;
    margin: auto;
    
}
.join_us h2
{
    font-family: "Arial Narrow";
    color: black;
}

.join_us p
{
    font-family: 'Arial',sans-serif;
    font-size: 12px;
}
.emailadd input , .password input , .fname input , .lname input , .bday input
{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 0.5px solid #B8AFAF;
    border-radius: 5px;
    font-family: 'Arial',sans-serif;
    color: #B8AFAF;
}
/* .inputplaceholder
{
    padding-left: 10px;
} */
select
{
    width: 100%;
    height: 40px;
    border: 0.5px solid #BCBCBC;
    
}
.gender
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}
.gender input
{
    /* appearance: none; */
    box-sizing: border-box;

}
.gender label
{
    border: 0.5px solid #BCBCBC;
    height: 40px;
    width: 152px;
    justify-content: center;
    font-family: 'Arial',sans-serif;
}
.checkbox
{
    font-family: 'Arial',sans-serif;
    font-size: 12px;
    width: 100%;
    justify-content: left;
    justify-items: left;
    margin-bottom: 28px;
}