*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .8rem;
    background-color: #FFFFFF;
}

.header{
    display: flex;
    justify-content: space-around;
    min-height: 5.6vh;
    background-color: #F5F5F5;
    align-items: center;
}

.header .logo{
    margin-left: 3rem;
}
.header ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 4rem;
    gap: 1.5em;
    word-spacing: .3em;
    
}

.header ul li a{
    text-decoration: none;
    color: #111111;
    font-size: .75rem;
}


/* navbar */

.navbar{
    width: 100%;
    min-height: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 40%;
    text-align: left;
    justify-content: center;
    

}

.navbar .logo{
    display: flex;
    width: 30%;
    justify-content: left;
    padding-left: 3rem;

}

.navbar .input{
    display: flex;
    width: 30%;
    justify-content: right;
    padding-right: 3rem;
    align-items: center;
    gap: 2em;
}

.navbar ul li{
    text-indent: 3em;
}
.navbar .input input{
    border-radius: 2.8em;
    height: 2.5rem;
    width: 49%;
    border: none;
    padding-left: 3rem;
    font-size: 1rem;
    color: gray;
   
}
.navbar .input input{
    background: url('../asset/images/icons8-search-50.png');
    background-color: #F5F5F5;
    background-repeat: no-repeat;
    background-size: 2em 1.8em;
    background-position: left;
}

/* Discount */
.container{
    min-height: 10vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container #p1{
    font-size: 1rem;
}

/* Banner */
.banner{
    background: url('./images/banner.webp');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: 90% 100vh;
}

/* Banner-details */
.banner-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 2rem;
}


.banner-details h1{
    font-weight: bold;
    font-size: 4rem;
}

.banner-details input{
    width: 7%;
    height: 5.5vh;
    background-color: #111111;
    border-radius: 2em;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

.banner-details p{
    font-size: 1rem;
}


/* slide */
.slide{
   margin-top: 4em;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
   /* gap: 1em; */
   
}

.card1, .card2, .card3, .card4{
    width: 40%;
    display: flex;
    flex-direction: row;
    
}


.card1{
    background: url('../asset/images/card1.webp');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

.card2{
    background: url('../asset/images/card2.webp');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

.card3{
    background: url('../asset/images/card3.webp');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}


/* Banner2 */
/* .banner2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
    
}

.banner2 .bannerTitle{
    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 1.5em;
}

.banner2 .bannerCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
   
}

.bannerTitle{
    font-size: 1.8rem;
   
}

.bannerConPic{
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.4rem;
    color: gray;
    

}

.bannerConPic img{
    width: 100%;
}

 */


 .banner2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    
 }

 .bannerTitle{
    width: 100%;
    padding-left: 3em;
    font-size: 2rem;
 }

 .bannerCon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    font-size: 1.5rem;
    

 }

 .bannerConPic{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    width: 45%;
    
    
 }

 .banner2 .bannerCon .bannerConPic p a{
    font-size: 1rem;
    color: grey;
 }




 /* slide2 */
 .slide2{
    width: 95%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto;
 }

 .slide2{
    margin-top: 5em;
 }

 .slide2Title{
    border: 1px solid black;
    font-size: 1.5rem

    
 }

 .slide2PicCon{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;

 }

 .slide2pic1, .slide2pic2, .slide2pic3{
    border: 1px solid black;
    width: 35%;
    /* text-align: center; */
   
 }


 .slpic1{
    width: 100%;
 }


 .namePrice {
    display: flex;
    flex-direction: row;
    width: 100%;
    
 }

 .nameCont{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
 }

 .priceCont{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
 }

 

 



















